.form-main-container {
    display: flex;
    min-height: 90vh;
    justify-content: center;
    align-items: center;
    width: 80vw;
    gap: 5vw;
    margin: auto;
}

.sideshow {
    width: 40%;


    >p {
        font-size: 1.2em;
    }

}

.form-container {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5vh;

    >form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2vh;

        >.input-div input {
            padding: 10px 15px;
            font-size: 1.2em;
            border-radius: 5px;
            width: 50%;
        }

        >.button-div button {


            margin-left: 8vw;
            padding: 8px 12px;
            border-radius: 5px;
            background-color: rgb(14, 14, 231);
            border: none;
            color: white;
            font-size: 1.2em;
        }

        >.button-div button:hover {

            background-color: rgb(7, 7, 165);

        }

        >.alredyregistered span {
            margin-left: 2vw;
            font-size: 1.2em;
        }

        >.alredyregistered span a {
            text-decoration: none;
        }
    }
}



/* Profile css */

.profile-container {
    width: 90vw;
    margin: 6vh auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.logout-div {
    text-align: right;
    margin-bottom: 20px;
    width: 100%;
}

.profile_details_overall {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    width: 95%;
    display: flex;
    gap: 3vh;
    justify-content: center;
    align-items: flex-start;
}

.profile-details {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    justify-content: center;
    align-items: flex-start;


}

.profile_details2 {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    justify-content: center;
    align-items: flex-start;
}

.profile-main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;


}

.name_username_container {
    display: flex;
    flex-direction: column;
    gap: 1vh;


    >.profilepic-div {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        >a {

            font-size: 1.1rem;
            text-decoration: none;
        }

        >a:hover {
            color: red;

        }
    }

    >.profile-name {
        background-color: #f0f0f0;
        padding: 10px 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        width: 90%;

    }

}

.profile-name span {

    margin: auto;
    font-size: 2em;
    font-weight: 600;

}

.username {
    margin: auto;
    width: 40%;

    >span {
        margin-bottom: 10px;
        font-size: 1.5em;
        font-weight: 600;
    }
}

.profilepic-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.profilepic_img {
    width: 150px;
    border-radius: 50%;
    object-fit: contain;
}

.add_profilepic_btn {
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: 600;
    margin-top: 5px;

}

.add_profilepic_btn:hover {
    background-color: rgb(179, 176, 176);
}

.user_about_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.user_about_show {
    background-color: #f0f0f0;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 90%;


    >p {
        margin: 18px 0px;
    }
}

.user_about-addbtn {
    display: flex;
    flex-direction: column;
    width: 100%;

    >.user_about_form {
        width: 100%;
        display: flex;
        flex-direction: column;

        >textarea {
            border: 2px solid black;
            border-radius: 10px;
            padding: 10px;
            width: 90%;
            margin: 1vh auto;

        }

        >button {
            width: 25%;
            margin: auto;
            padding: 5px;
            font-weight: 500;
            border-radius: 5px;
        }

        >button:hover {
            background-color: rgb(179, 176, 176);
        }
    }

    >button {
        width: 25%;
        margin: 10px auto;
        padding: 5px;
        font-weight: 500;
        border-radius: 5px;
    }

    >button:hover {
        background-color: rgb(179, 176, 176);
    }
}

.follow_count_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    margin-top: 1vh;
}

.follow_count {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.follow_count_span_number {
    font-size: 1.5em;
    color: rgb(13, 173, 213);
}

.follow_button_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    margin-top: 1vh;

    >button {
        border-radius: 5px;
        padding: 8px 12px;
        font-size: 1.1em;
        background-color: rgb(21, 21, 252);
        border: none;
        color: white;
    }

    >button:hover {
        background-color: rgb(6, 6, 160);

    }
}


.logout-div button {
    padding: 6px 12px;
    background-color: rgb(108, 107, 107);
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.logout-div button:hover {
    background-color: rgb(86, 85, 85);
}

.user_content{
    width: 95%;
    margin: 2vh auto;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 1%;

    >.user-content_type{
        width: 90%;
        margin: auto;
          display: flex;
          gap: 5vw;

          >button{
            font-size: 20px;
            padding: 5px;
            border: none;
          }
    }

>.user_posts_container{
    width: 95%;
    margin: 1vh auto;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
}

}


/* ProfileDetails Component css */

.profile-details_form {
    width: 100%;

    >.edit_profile_details-btn {
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
             
        >a {
            border-radius: 5px;
            padding: 5px 10px;
             margin:10px 0px;
            background-color: rgb(21, 21, 252);
            border: none;
            color: white;
            text-decoration: none;
        }

        >a:hover {
            background-color: rgb(6, 6, 160);

        }

        
    }

    .complete_profile_details-btn{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
             
        >a {
            border-radius: 5px;
            padding: 8px 10px;
            font-size: 1.1em;
             margin:10px 0px;
            background-color: rgb(21, 21, 252);
            border: none;
            color: white;
            text-decoration: none;
        }

        >a:hover {
            background-color: rgb(6, 6, 160);

        }
    }


}

.profile_details_oll_container{

    display: flex;
    flex-direction: column;
    gap: 1vh;
    

.profile_details_oll{
    display: flex;
    gap: 2vw;
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    


    >span{
        font-size: 1.1em;
    }
    >.s1{
        width: 20%;
    }
  
}

>form{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    width: 90%;
    padding: 20px;
    >section {
        width: 90%;

        >span{
            width: 20%;
        }

        >input{
            width: 60%;
            padding: 10px;
            border-radius: 5px;
            font-size: 16px;
        }
    }

    >.complete_profile_details-btn button{
           
        border-radius: 5px;
        padding: 8px 10px;
        font-size: 1.1em;
         margin:10px 0px;
        background-color: rgb(21, 21, 252);
        border: none;
        color: white;
        text-decoration: none;
    

    }
    >.complete_profile_details-btn button:hover {
        background-color: rgb(6, 6, 160);

    }
    

}

}





/* Complete Profile */

.profile-details_form_complete_profile{

    width: 50vw;
    margin: 3vh auto;
    background-color: #f0f0f0;
    padding: 20px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}



 /* UserPosts  CSS */

 .card_userpost{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
 }

 .username_postadded{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

