
  /* CreatePost css */

.post-container {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: 50vw;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  }
  
  .post-container form {
    display: flex;
    flex-direction: column;
  }
  
  .post-container label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .post-container input[type="text"],
  .post-container input[type="file"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .post-container button[type="submit"] {
    padding: 10px 20px;
    background-color: #1877f2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 30%;
  }
  
  .post-container button[type="submit"]:hover {
    background-color: #1569e0;
  }



  /* ModifyPost css */


  .ModifyPost_container{
    position: absolute;
    top: 5vh;
    left: 30vw;
    z-index: 10;
   background-color: #ded3d3;
   width: 10vw;

    >ul {
      list-style: none;
      display: flex;
      flex-direction: column;
     
    }

    >ul li button{
      display: flex;
      align-items: center;
      /* justify-content: center; */
      padding: 5px 10px;
      border: none;
      width: 100%;
      margin: 5px auto;
      background-color: #ded3d3;
      font-size: 1.1em;
      gap:3px;
    }
    >ul li button:hover{
      background-color: #555;
      color: white;
    }
  }
  


  /* Comments css */


  .comment-container{

    position: absolute;
    top: -55Svh;
    left: -11vw;
    width: 44vw;
    height: 55vh;
    z-index: 10;
    border-radius: 5px;
    background-color: antiquewhite;
  }