/* CreatePost css */

.post-container {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  width: 50vw;
  margin: auto;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.post-container form {
  display: flex;
  flex-direction: column;
}

.post-container label {
  font-weight: bold;
  margin-bottom: 5px;
}

.post-container input[type="text"],
.post-container input[type="file"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.post-container button[type="submit"] {
  padding: 10px 20px;
  background-color: #1877f2;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 30%;
}

.post-container button[type="submit"]:hover {
  background-color: #1569e0;
}



/* ModifyPost css */


.ModifyPost_container {
  width: 10vw;
  position: absolute;
  top: 5vh;
  right: 1vh;
  background-color: rgb(236, 239, 243);

  >ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2vh;
    width: 100%;


    >li {
      width: 100%;
    }

  }

  >ul li button {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border: none;
    width: 100%;
    margin: 5px auto;
    font-size: 1.1em;
  }

  >ul li button:hover {
    background-color: #555;
    color: white;
  }
}


@media screen and (max-width:1000px) {

  .ModifyPost_container {
    width: 15vw;
  }
}

@media screen and (max-width:900px) {

  .ModifyPost_container {
    width: 17vw;
  }
}

@media screen and (max-width:700px) {

  .ModifyPost_container {
    width: 20vw;
  }
}

@media screen and (max-width:500px) {

  .ModifyPost_container {
    width: 25vw;
  }
}

@media screen and (max-width:350px) {

  .ModifyPost_container {
    width: 30vw;
  }
}

@media screen and (max-width:300px) {

  .ModifyPost_container {
    width: 35vw;
  }
}



/* Comments css */


.comment-container {

  position: absolute;
  top: -55Svh;
  left: -10vw;
  width: 33vw;
  height: 60vh;
  z-index: 10;
  background-color: #f1f1f1;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);


  >.exit_comment {
    display: flex;
    justify-content: flex-end;
    padding: 5px;

    >button {
      border: none;
      background-color: #f1f1f1;
    }

  }

  >.comment_content {
    min-height: 80%;

    >.no_comment_avaliable {
      width: 30%;
      margin: auto;
    }
  }

  >.line {
    height: 1px;
    background-color: black;
    width: 100%;
  }

  >.add_comment-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100%;
    margin-top: 1px;

    >input {
      width: 82%;
      padding: 10px 12px;
    }

    >button {
      border: none;
      cursor: pointer;
    }
  }

}